<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="name" value="Lily"/>
    <add key="age" value="25"/>
    <add key="height" value="165.15"/>
    <add key="isWorking" value="true"/>
  </appSettings>
</configuration>